.container{
    margin-top: 8cqw;
    width: 35%;
}
.col-6{
    border: 5px solid black;
    border-radius: 5%;
    width: 100%;
    background-color: wheat;
}
input[type=text]{
    width : 100%;
}
input[type=button]{
    width : 100%; 
    background-color: white;
    font-weight: bold;
}